body{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("shawarma.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
    

.container{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.header{
    position: relative;
    z-index: 1;
    background: rgba(0,0,0,0.6);
    max-width: 360;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.header input{
    font-family:Georgia, 'Times New Roman', Times, serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border:0;
    margin:0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.header p{
    color: red;
}

.header button{
    font-family: 'Courier New', Courier, monospace;
    background: red;
    text-align: center;
    color: black;
    outline: 0;
    padding: 15px;
    width:100%;
    text-transform: uppercase;
    font-size: 13px;
    cursor:pointer;

}

.form button:hover, .form button:active{background: #43A047}


.form .message{
    color:iceblue;
    margin:0 0 15px;
}